app/less3/lab-3-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="peopleType">
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="family" type="xsd:string"/>
            <xsd:element name="age" type="xsd:string"/>
            <xsd:element name="bithday" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

   <xsd:element name="people" type="peopleType" />
</xsd:schema>



